[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
firebase-admin = "*"
bs4 = "*"
"html.parser" = "*"
pyppeteer = "*"

[dev-packages]

[requires]
python_version = "3.8"
